#duplicatecontactsmanager-toolbarbutton-1,
#wrapper-duplicatecontactsmanager-toolbarbutton-1
  {list-style-image: url("chrome://duplicatecontactsmanager/content/menubutton.png");}

/* common style for all custom buttons */
.custombutton
  {-moz-image-region: rect( 0px 24px 24px  0px);}

.custombutton:hover
  {-moz-image-region: rect(24px 24px 48px  0px);}

[iconsize="small"] .custombutton
  {-moz-image-region: rect( 0px 40px 16px 24px);}

[iconsize="small"] .custombutton:hover
  {-moz-image-region: rect(24px 40px 40px 24px);}

#handleDuplicates-window .text-link {
	color: blue;
	text-decoration: underline;
}

#handleDuplicates-window description.text-line {
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1em;
}

#handleDuplicates-window description.value {
	margin-left: 0px;
	padding-left: 0px;
}
#handleDuplicates-window description.fields {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 1em;
	font-family: monospace;
	font-size: smaller;
	/* user-select: text; not (yet) supported */
	-moz-user-select: text;
}

#handleDuplicates-window {
/*	min-height: 320px; */
	height: 600px; /* initially */
/*	max-height: 900px; */
/*	min-width: 480px; */
	width: 800px; /* initially */
}
#handleDuplicates-window #explanation, #handleDuplicates-window #AttributesTable, #handleDuplicates-window #endinfo {
/*	display: contents; *//* must not be used for #AttributesTable */
/*	box-sizing: border-box; not needed */
/*	background-color: azure; *//* useful for debugging */
	overflow-y: auto; /* scrollbar when needed */
}

#handleDuplicates-window .tbox {
	background-color: #FFFFFF;
	margin: 10px 20px 5px 15px;
	padding: 10px;
	border: 1px inset;
}

#handleDuplicates-window radio#keepLeft, #handleDuplicates-window radio#keepRight {
	padding: 4px 0px 0px 0px;
	font-weight: bold;
/*	background-color: #cccc00 !important; does not work - why? */
}

#handleDuplicates-window #statusBar {
	display: flex;  /* critical for wrapping withinn sub-elements */
	margin-left: 10px;
	margin-bottom: 10px;
}

#handleDuplicates-window #statusText {
	font-weight: bold;
	color: #aa0000;
}
#handleDuplicates-window .with-progress {
	width: 9em; /* some fixed value to avoid flickering on searchNextDuplicate */
}
#handleDuplicates-window .error-message {
	color: red;
}


#handleDuplicates-window #progressMeter {
	padding-top: 15px; /* workaround: this for some weird reason reduces the strange empty space above */
/*	min-width: 10em; */
}
#handleDuplicates-window .progress-bar {
	margin-top: -15px; /* workaround: makes the progress bar visible again */
}
#handleDuplicates-window #progressText {
	vertical-align: top;
}

#handleDuplicates-window #tablepane {
	display: contents; /* would be best, is supported by more recent Thunderbird versions. Used here as fallback for deprecated '-moz-inline-stack', which is used as a hack replacing display: block, which would not stretch content horizontally */
/*	background-color: blue; *//* useful for debugging */
}
#handleDuplicates-window #AttributesTable {
	margin: 10px 20px 5px 15px;
/*	width: 1900px; *//* max width, could be used to spread the cells; value suitable for full HD display */
/*	direction: rtl; *//* hack to put the vertical scroll bar to the left */
}
#handleDuplicates-window #tableheader {
	font-weight: bold;
	margin-bottom: 5px;
/*	padding: 4px;
	background-color: #D3FFD3;
	border: 1px solid white; */
}

#handleDuplicates-window #AttributesTableRows {
/*	direction: ltr; *//* hack to put the vertical scroll bar to the left: restore direction */
}

#handleDuqplicates-window #AttributesTableRows row hbox {
	/*width: 100px;*/
	padding: 0px;
}

#handleDuplicates-window #AttributesTableRows row label.textbox {
	padding: 8px 4px 8px 4px;
}

#handleDuplicates-window #AttributesTableRows row label.field {
	padding: 3px;
}

#handleDuplicates-window .equivalence {
	/*width: 16px;*/
	font-size: 20px;
}

/* unused */
#handleDuplicates-window row label.empty, #handleDuplicates-window row hbox.empty {
	color: #ccc;
	font-style: italic;
}

#handleDuplicates-window #duplicatesButtonsBox {
	margin: 5px;
	text-align: center;
	padding-bottom: 5px;
}

#handleDuplicates-window .keep {
	background-color: #D3FFD3;
}
#handleDuplicates-window .remove {
	background-color: #FFBFBF;
}
#handleDuplicates-window #explanation {
	font-size: 12px;
	margin: 20px;
/*	width: 700px; */
	text-align: center;
}
#handleDuplicates-window #explanation description {
	padding: 4px;
	text-align: left;
}
#handleDuplicates-window #explanation .low {
/*	height: 10px !important;  does not work - why? */
}

#handleDuplicates-window .descTitle {
	font-size: 14px;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

#handleDuplicates-window #explanation .strong {
	font-weight: bold;
}
#handleDuplicates-window #explanation .em {
	font-style: italic;
}

#handleDuplicates-window textbox.slim {
	padding: 0px 0px 0px 0px;
}

#handleDuplicates-window #endinfo {
/*	text-align: left; *//* aligns the sub-box; align, box-align, and box-pack do not help */
}

#handleDuplicates-window hbox.addressbooklists .addressbookname {
	margin-left: 3em;
}
#handleDuplicates-window .addressbookname {
	text-align: left;
	font-weight: bold;
}

#handleDuplicates-window checkbox {
	text-align: left;
}

#handleDuplicates-window #bottom{
	margin-top: -15px;
/*	box-sizing: border-box; not needed */
}

/*#handleDuplicates-window #mainbox{
	box-sizing: border-box;
}*/

#handleDuplicates-window{
/*	box-sizing: border-box; not needed */
/*
	display: block;
	height: 100%;
	min-width: 850px;
	overflow: auto;
	height: 100%;
*/
/*
	box-sizing: border-box;
	display: -moz-box;
	float: none;
	position: static;
*/
}
